<div class="card card-primary" *ngIf="endereco">
  <header class="card-header">Endereço</header>
  <form [formGroup]="endereco" class="card-body">
      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
      </div>
  </form>
</div>
